*{
    margin: 0;
    padding: 0;
}
.head{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 231, 234);
}
.logo img{
    margin: 2%;
    padding: 2%;
    width: 250px;
    height: 100px;
    float: left;
}
.right-head{
    margin: 2%;
    padding: 2%;
}