* {
    margin: 0;
    padding: 0;
}

.head {
    height: 10%;
    background-color: rgb(255, 231, 234);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img{
    margin: 1%;
    padding: 5%;
    top: 50%;
    width: 150px;
    height: 50px;
    margin-left: 2%;
  
}

.right-head {
    margin:2%;
    padding: 2%;
   display: flex;
   gap: 40px;
}

