* {
  margin: 0;
  padding: 0;
}
.Container {
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Section {
  width: 50%;
}
.Form input {
  width: 30%;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
}
.Form option {
  width: 20%;
}
button {
  width: 20%;
  padding: 1%;
}
.high {
  background-color: lightcoral;
}
.moderate {
  background-color: lightgoldenrodyellow;
}
.low {
  background-color: lightgray;
}
