*{
    margin: 0;
    padding: 0;
}
.Section{
    width: 50%;
}
button{
    width: 20%;
    padding: 1%;
}
.high{
    background-color: lightcoral;
}
.moderate{
    background-color: lightgoldenrodyellow;
}
.low{
    background-color: lightgray;
}