*{
    margin: 0;
    padding: 0;
}
.head1{
    
    margin: 2px;
    padding: 2px;
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    line-height: 10vh;
   color: aqua;

}

.head2{
    
    margin: 2px;
    padding: 2px;
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    line-height: 10vh;
    color: aqua;

}
.main{
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    color: aqua;

}
.cont1{
    margin: 2px;
    padding: 2px;
    border: 2px solid black;
    width: 25%;
    line-height: 70vh;
    text-align: center;
    font-size: 30px;
    color: aqua;

}
.cont2{
    margin: 2px;
    padding: 2px;
    border: 2px solid black;
    width: 50%;
    line-height: 70vh;
    text-align: center;
    font-size: 30px;
    color: aqua;

}
.cont3{
    margin: 2px;
    padding: 2px;
    border: 2px solid black;
    width: 25%;
    line-height: 70vh;
    text-align: center;
    font-size: 30px;
    color: aqua;

}
.footer{
    margin: 2px;
    padding: 2px;
    border: 2px solid black;
    text-align: center;
    line-height: 10vh;
    font-size: 30px;
    color: aqua;

}