*{
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.header{
    margin: 20px;

    height: 90px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.logo-img{
    height: 55px;
    margin: 10px;
}

.left-btn{
    border: none;
    margin: 10px;
    background-color: white;
}
.left-navbar {
    display: flex;
}
.content {
  
    background: green;
}
.footer {
    background: black;
}